* {

}

html, body {
    width: 100%;
}

.body {
    position: relative;
}

.wrapper {
    background-color: antiquewhite;
    border: aquamarine 3px dotted;
    width: 310px;
    /* height: auto; */
    margin: 0 auto;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -50%); */

    display: flex;
    flex-direction: column;
}

.painting {
    background-color: aquamarine;
    margin: 0 auto;
}

.counter {
    display: flex;
    justify-content: space-evenly;
}